body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 40px;
}
.blog-name {
  color: crimson;
}
.flexible-container {
  display: flex;
  padding: 20px;
}
.half-width {
  width: 50%;
}
img {
  width: 95%;
  height: 450px;
  position: relative;
  padding-left: 15px;
  padding-bottom: 10px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgba(158, 11, 216, 0.973), cyan);
  border-radius: 5px;
  color: black;
  padding: 6px;
}
.top-banner {
  background-image: url(image/aaaa.png);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 2px 2px rgb(190, 190, 190);
}
.mid-banner {
  background-image: url(image/aaaa.png);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 2px 2px rgb(204, 202, 204);
}
p {
  text-align: justify;
}
#video-valo {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
video {
  width: 320px;
  height: 180px;
}
#video-codm2 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#video-codm {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.game-name {
  text-shadow: 5px 5px 5px black;
  color: crimson;
  text-align: center;
  font-weight: 600;
}
.video-text {
  border-left: 2px solid crimson;
  padding-left: 20px;
  padding-right: 20px;
}
.background-img {
  background-image: url(image/aaaa.png);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 2px 2px rgb(212, 210, 212);
}
.join-text {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
  color: crimson;
  text-shadow: 5px 5px 5px black;
}
#boxed {
  background-image: url(image/5353.jpg);
  width: 20%;
  height: 40%;
  border: 1px dotted orange;
  padding: 30px;
  margin: auto;
  text-align: center;
}
#submit-button {
  text-decoration: none;
  color: aliceblue;
  background-image: black;
}
footer p {
  text-align: center;
}
footer a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(image/aaaa.png);
}
li {
  float: left;
}
li a {
  text-decoration: none;
  display: block;
  padding: 15px 15px;
  text-align: center;
  color: aliceblue;
}
.last-bg {
  background-image: url(image/aaaa.png);
  box-shadow: 0px 0px 2px 2px rgb(182, 180, 182);
  display: ;
}
